@namespace PikaStatus.Components
<div class="cotainer-fluid center">
    <div class="row">
        <div class="progress white">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row grey-text text-darken-3">
        @PromptText
    </div>
</div>


@code{

    [Parameter]
    public string PromptText { get; set; } = "Loading...";
    
}