@page "/"
@namespace PikaStatus.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta property="og:title" content="Pika Status" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://infra.lukas-bownik.net/" />
    <meta property="og:description" content="Welcome to Pika Status! Here you can check out Pika Cloud apps' status." />
    <meta property="og:image" content="https://core.lukas-bownik.net/images/pika-logos/pikacloud_brand.png" />
    <meta name="theme-color" content="#558b2f" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PikaStatus - Monica</title>
    <base href="~/"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="css/site.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" type="image/ico" href="images/logooftheyear2018.png">
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="ServerPrerendered"/>
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>