@page "/About"

<div class="card indigo white-text">
    <div class="card-content">
        <span class="card-title">
            About
        </span>
        <p>Main purpose of this application is to show dynamically status of all Pika Cloud apps.</p>
        <p><strong>If anything seems to be not right, just 
            <a href="mailto:lukasbownik99@gmail.com" class="light-green-text">mail me</a>, please!</strong></p>
        <p>This neat, simple looking web application is build using Blazor and ASP.NET Core 3.1.1</p>
        <p>This is Pika Status aka "Katie".</p>
    </div>
    <div class="card-action">
        <a href="https://core.lukas-bownik.net/" class="white-text">Pika Core</a>
        <a href="https://player.lukas-bownik.net/" class="white-text">Pika Player</a>
        <a href="https://me.lukas-bownik.net/" class="white-text">me.site</a>
    </div>
</div>