@page "/"

<!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<div class="container">
    <div class="row center">
        <h1 class="center">Welcome to Pika Cloud!</h1>
    </div>
    <div class="row center">
        <div class="col s12 m6 l4">
            <div class="card small havelock white-text">
                <span class="card-title">Discover...</span>
                <div class="card-content flow-text">
                    tech stuff, games, films and some more with Pika Core, just follow the link below
                </div>
                <div class="card-action">
                    <a href="https://core.lukas-bownik.net/Core/Storage/Browse">Pika Core</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card small havelock white-text">
                <span class="card-title">Write down...</span>
                <div class="card-content flow-text">
                    whatever is on your mind with Pika Note - a custom, web-based notepad  
                </div>
                <div class="card-action">
                    <a href="https://note.lukas-bownik.net/">Pika Note</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card small havelock white-text">
                <span class="card-title">Reach...</span>
                <div class="card-content flow-text">
                    out soon and stay tuned for what's about to come!
                </div>
            </div>
        </div>
    </div>
</div>
