@page "/StatusDetails"
@inject Services.MessageService MessageService
@using PikaStatus.Components


@if (_details != null)
{
    if (_details.Count > 0)
    {
        <div class="card-panel @_statusPanelColor white-text">
            <h5>@_mainPanelMessage</h5>
            <small>Below you can see details of what exactly is going on.</small>
        </div>
        @foreach (var message in _details)
        {
            <div class="card-panel indigo white-text">
                <strong><b>@message</b></strong>
            </div>
        }
    }
    else
    {
        <DataNotAvailable />
    }
}
else
{
    <div class="card-panel indigo white-text">
        <ProgressSpinner />
    </div>
}
@code{
    private string _statusPanelColor = "indigo";
    private string _mainPanelMessage = "";
    private Stack<string> _details;
    private bool _overallDetailsRequestStatus = false;
    
    protected override async Task OnInitializedAsync()
    {
        var (messages, status) = await MessageService.GetOverallStatusDetailed();
        _statusPanelColor = status ? "light-green darken-3" : "red darken-3";
        _mainPanelMessage = messages.Pop();
        _details = messages;
        _overallDetailsRequestStatus = status;
    }
}