@inherits LayoutComponentBase
<div class="fullscreen-container">
    <div class="row master-head z-depth-2">
        <div class="container center white-text">
            <h2><a href="/" class="white-text">Pika Cloud</a></h2>
            <small>This is <a href="/About" class="light-green-text">Pika Status</a> aka "Alexa"</small>
        </div>
    </div>
    <div class="row whitesmoke pt-5">
        <div class="container center">
            @Body
        </div>
    </div>
</div>