@inherits LayoutComponentBase
<div class="fullscreen-container">
    <div class="row master-head z-depth-2">
        <div class="container center white-text">
            <h2>
                
                <a href="/" class="white-text">
                    <img src="images/pikacloud_status.svg" alt="Pika Cloud" height="150" class="img-responsive hide-on-small-and-down"/>
                    <p class="hide-on-med-and-up">Pika Cloud</p>
                </a>
            </h2>
            <small>This is <a href="/About" class="light-green-text">Pika Status</a> aka "Monica"</small>
        </div>
    </div>
    <div class="row whitesmoke pt-5">
        <div class="container center">
            @Body
        </div>
    </div>
</div>